.SignUpBanner {
  width: 100%;
}
.InfoRow {
  width: 100%;
}

.InfoImage {
  width: 100%;
}

.InfoText {
  text-align: center;
}

.InfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.Footer {
  background-color: lightgray;
  height: 500px;
}

.FooterText {
  text-align: center;
  font-size: 4em;
}

.FooterRightCol {
  display: flex;
  flex-direction: column;
  height: 100%;
}
